  body {
    background-color: #EAF6F6;
  }
  h1 {
    color: #6B6E4B;
  }
  h3 {
    color: #66BFBF;
  }

  hr {
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
  }

  img {
    height: 150px;
  }
